body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #eddfa4;
}

body {
    padding-top: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 75px;  
    margin-right: 10px;
    border-radius: 50px;
}

.website-name {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    display: flex;
    padding-right: 10px;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #00b894;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('/santorini.jpg') no-repeat center center/cover;
    height: 100vh;
    color: rgb(237, 171, 65);
    padding: 76px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
}

.features-section {
    text-align: center;
    padding: 20px 20px;
}

.features-section h2 {
    margin-bottom: 40px;
    font-size: 2rem;
    color: #df8b7e;
}

hr{
    color: #020101;
    height: 1px;
    background-color: #020101;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.feature-card {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    width: 280px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card .icon {
    font-size: 2rem;
    margin-bottom: 15px;
}

.feature-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.feature-card p {
    color: #00b894;
    font-weight: bold;
    cursor: pointer;
}
